body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--tg-theme-bg-color); /* Add background color */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.prevent-select{
  user-select: none;
}
.card {
  position: relative;
  width: 244px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 12px; /* Add rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.card.rotate {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px; /* Add rounded corners */
}

.card .front {
  background-color: #bbb;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-color:#fff;
  background-image: url('images/card.jpg');
  background-size: contain;
}

.card .back {

  background-color: #333;
  background: linear-gradient(to bottom, #9a92c7, #1b123bce);
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card img {
  max-width: none;
  max-height: none;
  border-radius: 15px; /* Add rounded corners */
  width: 200px;
  height: auto;
}

.card h2 {
  margin-top: 1px;
  font-size: 36px;
  font-weight: bold;
  color:#fff;
}

.card p {
  margin-top: 1px;
  font-size: 24px;
  max-width: 300px;
  color:#fff;
  line-height: 1.5;
}